<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/homepage.css" />
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css" />
    <script defer src="boostrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <div class="w-100 d-flex justify-content-between">
            
            <a class="navbar-brand">
                <img src="images/logo.png" alt="logo" width="50px">
            </a>

            <div class="">
                <a href="../signup.php" class="btn btn-success">Sign up</a>
                <a href="login.html" class="btn btn-success">Log in</a>
            </div>
          </div>
          
        </div>
      </nav>
  

    <div class="background">  
       
    </div>
    
</body>
</html>