body {
  width: 100%;
  background: #ecf0f1;
  color: #34495e;
}

.table-custom-success {
  --bs-table-color: white;
    --bs-table-bg: limegreen;
}

aside{
  background-color: #DBFFDB;
}


.nav a{
  color: #0e0e0e;
  font-size: 12px;
}

.nav a:hover{
color: #34495e;
}

.submit-btn{
  background: grey;
  color: white;
  border: none;
  border-radius: 30px;
  transition: .3s;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}

@media screen and (max-width: 868px) {
#mobileNav{
  transition: .5s ease-in-out;
}
.menuOpen{
  translate: -100%;
  transition: .5s ease-in-out;
}

}
